<div id="<%= dom_id invite %>">
  <p>
    <strong>Title:</strong>
    <%= invite.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= invite.body %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= invite.answer %>
  </p>

</div>
