<div id="like-tooltip"
     class="fixed hidden px-4 py-2 bg-white border border-gray-200 shadow-xl rounded-lg min-w-max max-w-xs z-40 pointer-events-none text-xs"
     style="top:0;left:0;">
     <!-- stimulus filled -->
</div>