<div
  data-controller="infinite-scroll"
  data-infinite-scroll-url-value="<%= posts_path(page: next_page) %>">
  <div class="text-center text-gray-500 py-6">Weitere Posts werden geladen…</div>
</div>